<nav>
  <div class="row p-3 text-white">
    <div class="col-sm-4">
      <%if controller_name == 'groups' and action_name == 'index' %>
        <i class="fa fa-bars fa-2x"></i>
      <% else %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <h2>PlanMe</h2>
    </div>
    <div class="col-sm-4" style="text-align: right">
      <i class="fa fa-right-from-bracket fa-2x"></i>
    </div>
  </div>
</nav>