<div class="mb-3">
  <%= form.label :name, class: "form-label" %><br />
  <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
</div>
<div class="mb-3">
  <%= form.label :amount, class: "form-label" %><br />
  <%= form.number_field :amount, autofocus: true, autocomplete: "amount", class: "form-control" %>
</div>